/* written by Shadowdara */

/* generell unset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background: linear-gradient(135deg, #1e3c72, #2a5298);
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    margin: 5rem;
}

header {
    margin: 0px;
    padding: 0.5rem;
    top: 0;
    position: fixed;
    width: 100%;
    background-color: #191919;
    text-align: right;
}

footer {
    margin: 0px;
    padding: 0.5rem;
    bottom: 0;
    position: fixed;
    width: 100%;
    background-color: #191919;
}

header p, footer p {
    display: inline;
    font-size: 1.1rem;
    margin: 0 5% auto;
}

h2 {
    margin-bottom: 20px;
    font-size: 24px;
}

table {
    padding-top: 0px;
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    color:rgb(0, 0, 0);
    font-weight: bolder;
    font-size: 110%;
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

td {
    background-color: #fff4b6;
}

.table_container {
    border-radius: 10px;
    padding: 10px 10px;
    background-color: #ffe864;
}

button {
    margin: 15px;
    padding: 12px 20px;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    background-color: #ff9800;
    color: rgb(255, 255, 255);
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

button:hover {
    background-color: #ff9200;
}

p {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}

a {
    color: white;
}

/* Stil für den Button */
.dropbtn {
    background-color: #3498db;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Container für das Dropdown */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown-Menü */
.dropdown-content {
    display: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);  /* Menü wird mittig ausgerichtet */
    z-index: 1;
}

/* Links im Dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
    border-radius: 16px;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    margin: 7px
}

/* Hover-Effekt für die Links */
.dropdown-content a:hover {
    background-color: #ffb163;
}

/* Dropdown anzeigen, wenn die Maus über dem Container ist */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Button-Hover-Effekt */
.dropdown:hover .dropbtn {
    background-color: #2980b9;
}

img {
    width: 30rem;
    height: 100%;
}
